* {
  box-sizing: border-box;
}

body {
  background: rgb(230, 224, 224);
}

hr.linha {
  color: #fdc107;
  margin: 0.3125rem 0;
  height: 0.1875rem;
}

footer .container {
  margin: auto 0;
}
footer p a {
  margin: 0.3125rem 0.9375rem;
}

#home {
  background: #fdc107;
}

.container .card {
  padding: 0.9375rem;
  background: rgb(220, 211, 161);
  border-radius: 0.625rem;
}

.espacador {
  margin: 2rem 0;
}

.caixa {
  padding: 3.75rem 0;
  border-bottom: 1px solid #e5e5e5;
}